# Email address you want notifications sent to
EMAIL_ADDR=

# the voice you want the script to sound like, you can get a full list if you run `say -v '?'`
voice=

# The hour if you would like it to be outputed
hour=`date +"%r"`

# this will be the message that will be spoken by the computer
message= 

# this will be the failure message that will be spoken by the computer
failure_msg=
